@import "tailwindcss";
@plugin "daisyui";

#navUl a.active {
  text-decoration: underline;
  color: #c8833e; 
  font-weight: 600;
}


.my-btn {
  @apply btn w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
  text-white font-semibold border-none hover:scale-105 transition-transform
  duration-200;
}

/* .common-btn {
  @apply px-8 py-3 bg-primary text-primary-foreground rounded-lg font-semibold cursor-pointer text-white transition duration-300 hover:shadow-lg hover:shadow-primary/50 hover:scale-[1.02]
 } */


.common-btn {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
 background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.common-btn:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05),
    0 4px 6px -1px rgba(var(--primary-rgb, 0, 123, 255), 0.5);
  transform: scale(1.02);
} 



